h1{color:red;
background-color:#000000;
font-size: 40px;
text-align: center;}
h2{color:rgb(255, 255, 255);
background-color:hsl(140, 100%, 30%);
font-weight: bold;}
h3{background-color:yellow;
font-style: italic;
text-decoration: underline;
line-height: 1.35;
word-spacing: .75em;}
p{color:hsl(241 47.4% 77.6%);
font-variant: small-caps; /* default is `normal` */}
ul{background-color:hsl(312 66.1% 65.3%);
letter-spacing: 0.0625em;}
ol{color:lightgray;
background-color:hsl(0, 0%, 100%);
letter-spacing: 0.0629em;}
html{background-color:hsla(303, 85%, 34%, 1);}
em{text-transform: lowercase;}
strong{ 
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px black;}
